<%- chapters_points.each_with_index do |point, index| %>
<tr>
  <td>
    <%= index+1 %>
  </td>
  <td>
    <%= point.name %>
  </td>
  <td>
    <%= point.weight %>
  </td>
  <td>
    <%- if current_user.has_role? :admin%>
      <%= link_to "Edit", edit_chapter_chapters_point_path(point.chapter_id, point) %>
    <%- end %>
  </td>
</tr>
<%- end %>

