<div>
  <h1>Classes</h1>
</div>
<div style="margin-top:20px;">
  <%= link_to 'New class',  new_jkci_class_path, class: 'btn btn-primary btn-sm' %>
</div>
<div class="textLeft">
  <h2 class="left">Filter By</h2>
  <%= select_tag :filter_batch_class, options_from_collection_for_select(@batches, "id", "name"), prompt: "Select class", style:"margin:15px 20px;", class: "filter_batch_class", onchange: "classFilterByBatch(event, this);" %>
</div>

<div style="width:100%;">
  <table width="100%;" class="table table-hover jkciClassTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Start Time</th>
	<th>End Time</th>
	<th>Teacher</th>
	<th>Batch</th>
	<th>Action</th>
      </tr>
      </thead>
    <%= render partial: "jkci_class", locals: {jkci_classes: @jkci_classes} %>
  </table>
</div>

