<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <h1>Classes</h1>
</div>
<div class="textLeft fullWidth">
  <h2 class="left">Filter By</h2>
  <%= select_tag :filter_batch_class, options_from_collection_for_select(@batches, "id", "name"), prompt: "Select class", style:"margin:15px 20px;", class: "filter_batch_class form-control left", onchange: "classFilterByBatch(event, this);", style: "margin:15px 20px;width:200px;" %>
</div>

<div style="width:100%;">
  <table width="100%;" class="table table-hover jkciClassTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Batch</th>
	<th>Action</th>
      </tr>
      </thead>
    <%= render partial: "jkci_class", locals: {jkci_classes: @jkci_classes} %>
  </table>
  <div class="paginationDiv">
    <%= render partial: 'pagination', locals: {jkci_classes: @jkci_classes} %>
  </div>
</div>

</div>
</div>
