<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <figure class="news-featured-image">
                <img src="/assets/about_us.png" alt="Featured image 1" class="img-responsive">
              </figure>
              <h1 class="page-title">About J. K. Science Academy Islampur</h1>
              <div class="news-body">
		<p class="call-out">
		  To Prepare students of Rural, Semi Urban, and Urban areas for Career in
		  Medical, Engineering, IIT, and IIM institutions through comprehensive 
		  development of knowledge, attitude, and personality.
		</p>
                <p>
		  J. K. SAI is the only institution in Maharashtra giving best
		  resources through physical and intellectual facilities to students. It is 
		  working in semi urban area like Islampur Tal-Walwa, Dist-Sangli and 
		  giving teaching faculties from Kota, Kanpur, Jabalpur, and Delhi. It is 
		  our honest effort to give best resources to our students to prepare them 
		  for different science exams in state and nation. We have tradition since 
		  35 years of teaching and credit to produce a number of doctors, 
		  engineers. The number of successful students varies from 600 students 
		  as doctors and 800 students contributing in society through education 
		  form government and autonomous colleges.
                </p>
                <p>
		  Since last few years, we have aim to develop the facilities to
		  prepare our students for IIT, IIM institutions through exams like JEE 
		  (main and advance),MH-CET.
                </p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="row gutter k-equal-height"><!-- row -->
            <h1 class="">Our Features</h1>
	    <ul>
	      <li>
		Successful tradition of 35 years of individual teaching through classrooms and counseling. 
	      </li>
	      <li>
		Successful students at state and national exams.
	      </li>
	      <li>
		Complete training and preparation for all India Exams.
	      </li>
	      <li>
		Experience Teaching staff from Kota, Kanpur, Jabalpur, and Delhi.
	      </li>
	      <li>
		Scholarship for meritorious students.
	      </li>
	      <li>
		Academic facility of Laboratory, Library, and Study Room.
	      </li>
	      <li>
		Separate Residence for girls and boys students.
	      </li>
	      <li>
		Residence at Campus of Institution.
	      </li>
	      <li>
		All facilities are available at One Building
	      </li>
	      <li>
		Parents can see daily progress report of the student on Website and SMS.
	      </li>
	    </ul>
          </div><!-- row end -->           
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div>
