<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <h2 class="center" style="margin-bottom:60px;">JK SAI Talent Search Test 2015-16</h2>
    <div class="col-sm-8">
      <%= render partial: 'form' %>
    </div>
    <div class="col-sm-4">
      <img src="/assets/img/trophy-cup.jpg">
    </div>
  </div>
</div>

