<div id="k-body" class="k-body adminDesk">
  <div class="container">
    
    <h2 class="center" style="margin-bottom:60px;">JK SAI Talent Search Test 2015-16</h2>
    <div class="col-sm-6">
      <div class="news-body">
	<p>
	  We are going to conduct Aptitude test for 10th students on 5th
	  April morning 10 AM at <span class="call-out">JK SCINCE ACADEMY Islampur </span>. 
	  There is an information for parents  we are going to conduct career
	  guidence seminar. So attend the schedule. Let's enjoy the test and test your IQ.
	</p>
	<div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
	    <h6 class="remove-margin-bottom">Address</h6>
            <p class="small remove-margin-bottom">JK Science Academy 
	     <p  class="small remove-margin-bottom"> Islampur, Dist- Sangli</p>
	    <p class="small">Tel: (02342)-220364</p>
          </div>
	  
	  <div class="col-lg-6 col-md-6 col-sm-12">
	    <h6 class="remove-margin-bottom">Time</h6>
            <p class="small remove-margin-bottom">Exam - 11 AM to 1 PM</p>
	    <p class="small remove-margin-bottom">Result and Seminar - 2 PM to 4 PM</p>
	    <p class="small remove-margin-bottom">Subject - Career choice</p>
          </div>
          
	</div>
      </div>
      <hr />
      <h1>Online Form</h1>
      <%= render partial: 'form' %>
    </div>
    <div class="col-sm-6" style="">
      <div class="col-sm-12 text-center">
	<img src="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/trophy-cup.png">
      </div>
      <div class="col-sm-12">
	<h6>Syllabus</h6>
	<p class="small remove-margin-bottom">Test will be held on 8th, 9th and 10th  Syllabus</p>
	<p class="small remove-margin-bottom">Maths - 15 marks</p>
	<p class="small remove-margin-bottom">Science - 15 marks</p>
	<p class="small remove-margin-bottom">English - 15 marks</p>
	<p class="small remove-margin-bottom">Intelligence - 15 marks</p>
      </div>

      <div class="col-sm-12">
	<h6>Winner's Prize</h6>
	<p>1<sup>st</sup> Prize - 50,000 &#8377;</p>
	<p>2<sup>nd</sup> Prize - 25,000 &#8377;</p>
	<p>3<sup>ed</sup> Prize - 10,000 &#8377;</p>
	<p class="small text-right" style="font-size:10px;padding-right:20px;">***Terms and condition's Apply***</p>
      </div>
    </div>
  </div>
</div>

