<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li class="active">Career</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <figure class="news-featured-image">
                <img src="/assets/career.jpg" alt="Career" class="img-responsive">
              </figure>
              <h1 class="page-title">Career @ J. K. Science Academy Islampur</h1>
              <div class="news-body">
		<p class="call-out">
		  Never continue in a job you don't enjoy. If you're
		  happy in what you're doing, you'll like yourself,
		  you'll have inner peace. And if you have that, along
		  with physical health, you'll have more success than
		  you could possibly have imagined.
		</p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="row gutter k-equal-height"><!-- row -->
            <h2 class="">Job Description</h2>
	    <ul>
	      <li>
		Must have problem solving skils
	      </li>
	      <li>
		Must have teaching experience
	      </li>
	      <li>
		Excellent verbal and written communication skills in English.
	      </li>
	    </ul>
          </div><!-- row end -->           
	  <div class="row gutter k-equal-height"><!-- row -->
            <h2 class="">Must Have</h2>
	    <ul>
	      <li>
		Must have problem solving skils
	      </li>
	      <li>
		Must have teaching experience
	      </li>
	      <li>
		Excellent verbal and written communication skills in English.
	      </li>
	    </ul>
          </div><!-- row end --> 
	  <div class="row gutter k-equal-height"><!-- row -->
            <h2 class="">Job Perks</h2>
	    <ul>
	      <li>
		Ownership: You're the owner of what you do. Make hard decisions, experiment, fail and ‘learn’.
	      </li>
	      <li>
		Performance Bonus
	      </li>
	      <li>
		Free passes to conferences and events that might be useful to your work.
	      </li>
	    </ul>
          </div><!-- row end -->                     
	  <div class="row gutter k-equal-height"><!-- row -->
            <h2 class="">How to apply</h2>
	    <ul>
	      <li>
		Send mail to <a href="mailto:someone@example.com?Subject=Career%20choice" target="_top">Our academy</a>
	      </li>
	    </ul>
          </div><!-- row end -->
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div>

