<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Home</a></li>
          <li class="active">Career</li>
        </ol>
      </div><!-- breadcrumbs end -->               
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
          <div class="row gutter"><!-- row -->
            <div class="col-lg-12 col-md-12">
              <figure class="news-featured-image">
                <img src="/assets/career.jpg" alt="Career" class="img-responsive">
              </figure>
              <h1 class="page-title">Career @ J. K. Science Academy Islampur</h1>
              <div class="news-body">
		<p class="call-out">
		  J K Science Academy requires fresh, enthusiastic,
		  down to earth, and experienced teaching staff. We
		  have best facilities for the teaching staff such as
		  good salary, accommodation, and a few others.
		</p>
              </div>
            </div>
          </div><!-- row end -->
          <div class="row gutter k-equal-height"><!-- row -->
            <h2 class=""> We require faculty having following requirements </h2>
	    <ul>
	      <li>
		M. Sc. in Physics, Chemistry, Maths, Biology
	      </li>
	      <li>
		Minimum two years of teaching experience 
	      </li>
	      <li>
		Good communication skill
	      </li>
	      <li>
		Progressive Approach toward work
	      </li>
	    </ul>
          </div><!-- row end -->           
	  <div class="row gutter k-equal-height"><!-- row -->
	    <h2 class="">How to apply</h2>
            <ul>
              <li>
		Send mail to <a href="mailto:jkscienceaca@gmail.com?Subject=Career%20choice" target="_top">jkscienceaca@gmail.com</a>
              </li>
            </ul>
          </div><!-- row end -->
        </div><!-- inner custom column end -->
      </div><!-- doc body wrapper end -->
      <%= render partial: 'layouts/side_menu' %>
    </div><!-- row end -->
  </div><!-- container end -->
</div>

