<%= link_to 'Add Course', remaining_cources_organisation_path(@organisation), onclick: "openOrganisationCoursesModal(event, 'Remaining Courses', this, '#{add_remaining_cources_organisation_path(@organisation)}');", class: 'btn btn-primary' %>
<div>
  <table class="table table-hover standardsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Select For Sub Organisation</th>
	<th>Courses Name</th>
	<th>Actions</th>
      </tr>
    </thead>
    <%- @standards.each_with_index do |standard, index| %>
    <tr>
      <td>
	<%= (((params[:page] || 1).to_i - 1) * 10) + index + 1 %>
      </td>
      <td>
	<input type="checkbox" name="standard" value="<%= standard.id %>">
      </td>
      <td>
	<%= standard.std_name %>
      </td>
      <td>
	<%# link_to 'Show', subject_path(subject) %>  
      </td>
    </tr>
    <%- end %>
  </table>  
</div>
