<div>
  <table class="table table-hover standardsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Standards</th>
	<th>Actions</th>
      </tr>
    </thead>
    <%- @sub_organisations.each_with_index do |sub_organisations, index| %>
    <tr>
      <td>
	<%= (((params[:page] || 1).to_i - 1) * 10) + index + 1 %>
      </td>
      <td>
	<%= sub_organisations.email %>
      </td>
      <td>
	<%= sub_organisations.standards_name %>
      </td>
      <td>
	<%= link_to "Pull Back Organisation", pull_back_organisation_organisation_path(@organisation, sub_organisations), confirm: "Are you sure?" %>
      </td>
    </tr>
    <%- end %>
  </table>  
</div>
