<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <h2>Manage Organisation</h2>

    <div class="" style="margin-top:25px;">
      <ul class="nav nav-tabs nav-justified">
	<li class="active">
	  <a href="#k-tab-courses" data-toggle="tab">Manage Courses</a>
	</li>
	<li class="">
	  <a href="#k-tab-users" data-toggle="tab">Manage Users</a>
	</li>
	<li class="">
	  <a href="#k-tab-sub-organisations" data-toggle="tab">Manage Sub Organisations</a>
	</li>
      </ul>
      <div class="tab-content">
	<div id="k-tab-courses" class="tab-pane fade active in">
	  <div class="textLeft">
	    <%= render partial: 'courses' %>
	  </div>
	</div>
	<div id="k-tab-users" class="tab-pane fade">
	  <div class="textLeft">
	    <%= render partial: 'users' %>
	  </div>
	</div>
	<div id="k-tab-sub-organisations" class="tab-pane fade">
	  <div class="textLeft">
	    Sub Org 234 234
	  </div>
	</div>
      </div>  
    </div>


  </div>
</div>


