<div class="col-sm-12 textLeft dailyTeachAbsentStudents">
  <h2 style="<%= 'color:red;' unless @daily_teaching_point.is_fill_catlog.present? %>">Absent Students</h2>
  <%- @class_catlogs.where(is_present: false).each do |class_catlog| %>
    <div style="text-align:left;">
      <label for="<%= class_catlog.student.id%>" style="display:inline-block;">
	<%= "#{class_catlog.student.name} - #{class_catlog.student.group}  - #{class_catlog.student.std}" %>
      </label>
      <%= ' |  No sms sent ' if (!class_catlog.is_present && !class_catlog.sms_sent) %> 
    </div>
  <%- end %>
</div>
