<div id="k-body" class="k-body adminDesk">
  <div class="container">
    <div>
      <h1>Daily Teach</h1>
    </div>
    <div style="width:100%;">
      <div class="textLeft fullWidth">
	<h2 class="left">Filter By</h2>
	<%= select_tag :filter_teach_class, options_from_collection_for_select(@jkci_classes, "id", "class_name"), prompt: "Select class", style:"margin:15px 20px;", onchange:"dailyTeachFilter(event, this);" %>
	<%= select_tag :filter_teach_teacher, options_from_collection_for_select(@teachers, "id", "name"), prompt: "Select teacher", style:"margin:15px 20px;", onchange:"dailyTeachFilter(event, this);" %>
      </div>
      <table width="100%;" class="table table-hover dailyTeachTable">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Date</th>
	    <th>Class</th>
	    <th>Points</th>
	    <th>Teacher</th>
	    <th>Action</th>
	  </tr>
	</thead>
	<%= render partial: 'daily_teach', locals:{daily_teaching_points: @daily_teaching_points}%>
	
      </table>
      <div class="paginationDiv">
	<%= render partial: 'pagination', locals: { daily_teaching_points:  @daily_teaching_points} %>
      </div>
    </div>
  </div>
</div>
