<div class="col-lg-4 col-md-4"><!-- recent news wrapper -->
  <div class="col-padded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_recent_news"><!-- widgets list -->
        <h1 class="title-widget">Director Desk</h1>
        <ul class="list-unstyled">
	  <li class="recent-news-wrap">
            <h1 class="title-median">
	      <a href="<%= about_us_path %>" title="Megan Boyle flourishes...">
		Director Desk
	      </a>
	    </h1>
            <div class="recent-news-content clearfix">
              <div class="">
                <p>
		  <figure class="recent-news-thumb" style="padding-right:20px;">
                    <a href="<%= about_us_path %>" title="Megan Boyle flourishes...">
		      <img src="assets/img/recent-news-thumb-1.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 1" />
		    </a>
		  </figure>
		  J. K. SAI is the only institution in Maharashtra giving best resources
		  through physical and intellectual facilities to students. It is
		  working in semi urban area like Islampur Tal-Walwa, Dist-Sangli and
		  giving teaching faculties from Kota, Kanpur, Jabalpur, and Delhi. It
		  is our honest effort to give best resources to our students to prepare
		  them for different science exams in state and nation. We have
		  tradition since 35 years of teaching and credit to produce a number of
		  doctors, engineers. The number of successful students varies from 600
		  students as doctors and 800 students contributing in society through
		  education form government and autonomous colleges.
		  <a href="<%= about_us_path %>" class="moretag" title="read more">MORE</a> 
                </p>
              </div>
            </div>
          </li>
        </ul>
      </li><!-- widgets list end -->
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- recent news wrapper end -->

