<div class="col-lg-4 col-md-4"><!-- upcoming events wrapper -->
  <div class="col-padded col-shaded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_up_events"><!-- widgets list -->
        <h1 class="title-widget">Events</h1>
        <ul class="list-unstyled">
          <li class="up-event-wrap">
	    <h1 class="title-median blink" style="color:red;">Adminision Open For NEET 2016 </h1>
            <div class="up-event-meta clearfix">
              <div class="up-event-time">15 May 2016</div>
	      <div class="up-event-time">20 July 2016</div>
            </div>
            <p>
              <strong>Adminision open</strong> For NEET 2016 preparation 
	      batch.Hurry up limited admission Please contact on 9420674796.
            </p>
	    <strong style="color:red;">Our NEET Results are</strong>
	    <div class="boldFont">
	      <p>Sahil Langade - 512</p>
	      <p>Rutweek Jamdade - 502</p>
	      <p>Abhilasha Dhadas - 446</p>
	      <p>Pallavi Wagh - 440</p>
	      <p>Arya Langade - 439</p>
	      <p>Gaurav Patil - 389</p>
	      <p>Harshvardhan patil - 375</p>
	      <p>Shreya Gaikawad - 352</p>
	      <p>Prajakta Vetal - 350</p>
	      <p>Aishwarya Avalekar - 333</p>
	      <p>Shital Patil - 325</p>
	      <p>Aditya Velhala  - 305</p>
	      <p>Manisha Shaekhar - 302</p>
	      <p>Tushar Kadam - 295</p>
	      <p>Aishwarya Mhatre - 292</p>
	      <p>Manali Waghmare - 289</p>
	      <p>Abhishek Patil - 205</p>
	      <p>Namrata Sadamate - 200</p>
	      <p>Monika Survashe - 196</p>
	      <p>Lahade - 194</p>
	      <p>Digvijay Thorat - 175</p>
	      <p>Vaibhav Patil - 145</p>
	    </div>
          </li>
        </ul>
      </li><!-- widgets list end -->
      <li style="margin-top:20px;" class="hide">
	<a href="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/result.jpg" title="" data-fancybox-group="gallery-bssb" class="fancybox">
          <img src="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/result.jpg" />
	</a>
      </li>
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- upcoming events wrapper end -->
