<div class="col-lg-4 col-md-4"><!-- misc wrapper -->
  <div class="col-padded col-shaded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_sofa_twitter"><!-- widget -->
        <%= render partial: 'layouts/follow_us' %>
      </li><!-- widget end -->
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- misc wrapper end -->
