<div class="col-lg-4 col-md-4"><!-- misc wrapper -->
  <div class="col-padded col-shaded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_text"><!-- widget -->
        <a href="<%= results_path %>" class="custom-button cb-green" title="How to apply?">
          <i class="custom-button-icon fa fa-check-square-o"></i>
          <span class="custom-button-wrap">
            <span class="custom-button-title">Our results</span>
            <span class="custom-button-tagline">Breaking barriers, building a future</span>
          </span>
          <em></em>
        </a>
        
        <a href="#" class="custom-button cb-gray" title="Campus tour">
          <i class="custom-button-icon fa  fa-play-circle-o"></i>
          <span class="custom-button-wrap">
            <span class="custom-button-title">Campus tour</span>
            <span class="custom-button-tagline">Student's life at the glance. Take a tour...</span>
          </span>
          <em></em>
        </a>
        
        <a href="<%= career_index_path %>" class="custom-button cb-yellow" title="Prospectus">
          <i class="custom-button-icon fa  fa-leaf"></i>
          <span class="custom-button-wrap">
            <span class="custom-button-title">Career</span>
            <span class="custom-button-tagline">We belive careers, not jobs</span>
          </span>
          <em></em>
        </a>
      </li><!-- widget end -->
      <li class="widget-container widget_sofa_twitter"><!-- widget -->
        <%= render partial: 'layouts/follow_us' %>
      </li><!-- widget end -->
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- misc wrapper end -->
