<div class="col-lg-4 col-md-4"><!-- upcoming events wrapper -->
  <div class="col-padded col-shaded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_up_events"><!-- widgets list -->
        <h1 class="title-widget">Upcoming Events</h1>
        <ul class="list-unstyled">
          <li class="up-event-wrap">
            <h1 class="title-median"><a href="#" title="Annual alumni game">Annual alumni game</a></h1>
            <div class="up-event-meta clearfix">
              <div class="up-event-date">Jul 25, 2015</div><div class="up-event-time">9:00 - 11:00</div>
            </div>
            <p>
              Fusce condimentum pulvinar mattis. Nunc condimentum sapien sit amet odio vulputate, nec suscipit orci pharetra... <a href="#" class="moretag" title="read more">MORE</a> 
            </p>
          </li>
          <li class="up-event-wrap">
            <h1 class="title-median"><a href="#" title="School talents gathering">School talents gathering</a></h1>
            <div class="up-event-meta clearfix">
              <div class="up-event-date">Aug 25, 2015</div><div class="up-event-time">8:30 - 10:30</div>
            </div>
            <p>
              Pellentesque lobortis, arcu eget condimentum auctor, magna neque faucibus dui, ut varius diam neque sed diam... <a href="#" class="moretag" title="read more">MORE</a> 
            </p>
          </li>
          <li class="up-event-wrap">
            <h1 class="title-median"><a href="#" title="School talents gathering">Campus "Open Doors"</a></h1>
            <div class="up-event-meta clearfix">
              <div class="up-event-date">Sep 04, 2015</div><div class="up-event-date">Sep 11, 2015</div>
            </div>
            <p>
              Donec fringilla lacinia laoreet. Vestibulum ultrices blandit tempor. Aenean magna elit, varius eget quam a, posuere... <a href="#" class="moretag" title="read more">MORE</a> 
            </p>
          </li>
        </ul>
      </li><!-- widgets list end -->
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- upcoming events wrapper end -->
