<h1>Welcome To </h1>
<%= link_to 'Exam', exams_path %>
<%= link_to 'Student', students_path %>
<%= link_to 'Classes', jkci_classes_path %>
<%= link_to 'Daily Teach', daily_teachs_path %>
<%#= link_to ''%>
