<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
          <div class="input-group">
            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
          </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center">
	  <i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i>
	</div><!-- toggle search button -->
      </div><!-- top search end -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
        </ol>
      </div><!-- breadcrumbs end -->
    </div><!-- row end -->
    <div class="row no-gutter fullwidth"><!-- row -->
      <div class="col-lg-12 clearfix"><!-- featured posts slider -->
        <div id="carousel-featured" class="carousel slide" data-interval="4000" data-ride="carousel">
          <div class="carousel-inner"><!-- Wrapper for slides -->
            <div class="item active">
              <img src="assets/img/home_page.jpg" alt="Image slide 2" />
              <div class="k-carousel-caption pos-1-3-left scheme-light">
                <div class="caption-content">
                  <h3 class="caption-title">Learning Today . . . Leading Tomorrow.</h3>
                </div>
              </div>
            </div>
          </div><!-- Wrapper for slides end -->
        </div><!-- featured posts slider wrapper end -->
      </div><!-- featured posts slider end -->
    </div><!-- row end -->
    <div class="row no-gutter"><!-- row -->
      <%= render partial: "events" %>
      <%= render partial: "director_desk" %>
      <div class="col-lg-4 col-md-4"><!-- misc wrapper -->
        <div class="col-padded col-shaded"><!-- inner custom column -->
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_course_search"><!-- widget -->
              <h1 class="title-titan">Course Finder</h1>
              <form role="search" method="get" id="course-finder" action="#">
                <div class="input-group">
                  <input type="text" placeholder="Find a course..." autocomplete="off" class="form-control" id="find-course" name="find-course" />
                  <span class="input-group-btn"><button type="submit" class="btn btn-default">GO!</button></span>
                </div>
                <span class="help-block">* Enter course ID, title or the course instructor name</span>
              </form>
            </li><!-- widget end -->
            <li class="widget-container widget_text"><!-- widget -->
              <a href="#" class="custom-button cb-green" title="How to apply?">
                <i class="custom-button-icon fa fa-check-square-o"></i>
                <span class="custom-button-wrap">
                  <span class="custom-button-title">How to apply?</span>
                  <span class="custom-button-tagline">Join us whenewer you feel it’s time!</span>
                </span>
                <em></em>
              </a>
              
              <a href="#" class="custom-button cb-gray" title="Campus tour">
                <i class="custom-button-icon fa  fa-play-circle-o"></i>
                <span class="custom-button-wrap">
                  <span class="custom-button-title">Campus tour</span>
                  <span class="custom-button-tagline">Student's life at the glance. Take a tour...</span>
                </span>
                <em></em>
              </a>
              
              <a href="#" class="custom-button cb-yellow" title="Prospectus">
                <i class="custom-button-icon fa  fa-leaf"></i>
                <span class="custom-button-wrap">
                  <span class="custom-button-title">Prospectus</span>
                  <span class="custom-button-tagline">Request a free School Prospectus!</span>
                </span>
                <em></em>
              </a>
            </li><!-- widget end -->
            <li class="widget-container widget_sofa_twitter"><!-- widget -->
              <%= render partial: 'layouts/follow_us' %>
            </li><!-- widget end -->
          </ul><!-- widgets end -->
        </div><!-- inner custom column end -->
      </div><!-- misc wrapper end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- content wrapper end -->

