<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
          <li><a href="#">Timetable</a></li>
        </ol>
      </div><!-- breadcrumbs end -->
    </div><!-- row end -->
    <div class="row no-gutter fullwidth"><!-- row -->
      <div class="col-lg-12 clearfix"><!-- featured posts slider -->
        
	<div class="col-lg-12">
          <h6>JEE - Test Time Table</h6>
          <br>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Chapter</th>
                <th>Type</th>
		<th>Date</th>
		<th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Phy</td>
                <td>MEC - I</td>
                <td>Objective</td>
		<td>25 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>2</td>
                <td>Phy</td>
                <td>Mec - II</td>
                <td>Objective</td>
		<td>26 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>3</td>
                <td>Maths</td>
                <td>Differantiation</td>
                <td>Objective</td>
		<td>27 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>4</td>
                <td>Phy</td>
                <td>Oscillation</td>
                <td>Subjective</td>
		<td>28 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>5</td>
                <td>Phy</td>
                <td>Rotational Motion</td>
                <td>Subjective</td>
		<td>29 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>6</td>
                <td>Maths</td>
                <td>Matrices</td>
                <td>Objective</td>
		<td>30 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>7</td>
                <td>Maths</td>
                <td>Continuity</td>
                <td>Subjective</td>
		<td>31 May 2015 </td>
		<td>10 Am</td>
              </tr>
            </tbody>
          </table>
        </div>

	<div class="col-lg-12">
          <h6>NEET - Test Time Table</h6>
          <br>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Chapter</th>
                <th>Type</th>
		<th>Date</th>
		<th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Phy</td>
                <td>Elasticity</td>
                <td>Objective</td>
		<td>25 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>2</td>
                <td>Phy</td>
                <td>Surface Tension</td>
                <td>Objective</td>
		<td>26 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>3</td>
                <td>Bio</td>
                <td>Enhancement in food Production & Microbes in human Welfare</td>
                <td>Subjective</td>
		<td>27 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>4</td>
                <td>Phy</td>
                <td>Oscillation</td>
                <td>Subjective</td>
		<td>28 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>5</td>
                <td>Phy</td>
                <td>Rotational Motion</td>
                <td>Subjective</td>
		<td>29 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>6</td>
                <td>Bio</td>
                <td>Control and co-ordination</td>
                <td>Subjective</td>
		<td>30 May 2015 </td>
		<td>10 Am</td>
              </tr>
	      <tr>
                <td>7</td>
                <td>Bio</td>
                <td>Excretion and Osmoregulation & Circulation</td>
                <td>Subjective</td>
		<td>31 May 2015 </td>
		<td>10 Am</td>
              </tr>
            </tbody>
          </table>
        </div>

	

      </div><!-- featured posts slider end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- content wrapper end -->

