<div>Name : <%= student.name %></div>
<div>Parent Mobile: <%= student.p_mobile %></div>
<h4>Daily Learned</h4>
<div class="textLeft">
  <h2 class="left">Filter By</h2>
  <%= select_tag :filter_exam_class, options_from_collection_for_select(@jkci_classes, "id", "class_name"), prompt: "Select class", style:"margin:15px 20px;width:200px;", class: "filter_exam_class form-control left", onchange: "pStudentFilterByClass(event, this)" %>
  <%# select_tag :filter_exam_type,  options_for_select([ "Subjective", "Objective" ]), prompt: "Select type", style:"width:200px;margin:15px 20px;", onchange: "examFilterByClass(event, this)", class: 'form-control left'  %>
  <%# select_tag :filter_exam_status,  options_for_select([ "Created", "Conducted", "Published"]), prompt: "Select type", style:"width:200px;margin:15px 20px;", onchange: "examFilterByClass(event, this)", class: "form-control left"  %>
</div>

<table class="table table-hover studentLearnTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Class</th>
      <th>Chapter</th>
      <th>Point</th>
      <th>IsPresent</th>
      <th>is Recovered</th>
      <th>Number of exams</th>
    </tr>
  </thead>
  <%= render partial: 'class_catlog', locals: {class_catlogs: class_catlogs }%>
  
</table>
<div class="paginationDiv">
  <%= render partial: 'pagination', locals: {class_catlogs: @class_catlogs} %>
</div>

<h4>Class Exams</h4>
<table class="table table-hover studentLearnTable">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Name</th>
      <th>Class</th>
      <th>Type</th>
      <th>Marks</th>
      <th>IsPresent</th>
      <th>is Recovered</th>
    </tr>
  </thead>
  <%= render partial: 'exam_catlog', locals: {exam_catlogs: exam_catlogs }%>
  
</table>
