<div id="k-body"><!-- content wrapper -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <%= render partial: 'student_catlog_info', locals: {student: @student, class_catlogs: @class_catlogs, exam_catlogs: @exam_catlogs} %>
    </div>
  </div>
</div>
