<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <h1>Meeting</h1>
</div>
<%= link_to 'New Meeting', new_parents_meeting_path, class: 'btn btn-primary' %>
<div class="textLeft">
  <h2 class="left">Filter By</h2>
  <%# text_field_tag :filter_student, nil ,  placeholder: "Filter Student", style:"margin:15px 20px;width:200px;", class: "filter_student form-control left", onkeyup: "searchStudentByFilter(event);" %>
  <%# select_tag :filter_student_batch, options_from_collection_for_select(@batches, "id", "name"), prompt: "Select Batch", style:"margin:15px 20px;width:200px;", class: "filter_student_batch form-control left", onchange: "studentFilterByBatch(event, this)" %>
</div>
<div>
  <table class="table table-hover studentsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Agenda</th>
	<th>Date</th>
	<th>Contact Person</th>
	<th>Batch</th>
	<th>Sms Sent</th>
	<th>Actions</th>
      </tr>
    </thead>
    <%= render partial: 'meeting', locals: {meetings: @meetings}%>
    
  </table>
  <div class="paginationDiv">
    <%= render partial: 'pagination', locals: {meetings: @meetings} %>
  </div>
</div>

</div>
</div>

