<%- subjects.each_with_index do |subject, index| %>
  <tr>
    <td>
      <%= (((params[:page] || 1).to_i - 1) * 10) + index + 1 %>
    </td>
    <td>
      <%= subject.std_name %>
    </td>
    <td>
      <%= link_to 'Show', subject_path(subject) %>  | 
      <%= link_to 'New class',  new_subject_jkci_class_path(subject), class: '' %>
    </td>
  </tr>
<%- end %>

