<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <h1>Subject</h1>
</div>
<%= link_to "New Subject", new_subject_path, class: "btn btn-primary"%>
<div>
  <table class="table table-hover studentsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Actions</th>
      </tr>
    </thead>
    <%= render partial: 'subject', locals: {subjects: @subjects}%>
  </table>
</div>

</div>
</div>

