<div id="k-body" class="k-body adminDesk">
  <div class="container">
<div>
  <h1>Subject Chapters</h1>
</div>
<%= link_to 'New Chapter', new_chapter_path, class: 'btn btn-primary' %>
<div class="textLeft">
  <h2 class="left">Filter By</h2>
  <%= select_tag :filter_subject_chapter, options_from_collection_for_select(@subjects, "id", "name"), prompt: "Select subject", style:"margin:15px 20px;", class: "filter_exam_class", onchange: "examFilterByClass(event, this)" %>
  <%# select_tag :filter_exam_type,  options_for_select([ "Subjective", "Objective" ]), prompt: "Select type", style:"margin:15px 20px;", onchange: "examFilterByClass(event, this)"  %>
  <%# select_tag :filter_exam_status,  options_for_select([ "Created", "Conducted", "Published"]), prompt: "Select type", style:"margin:15px 20px;", onchange: "examFilterByClass(event, this)"  %>
</div>
<div>
  <table class="table table-hover studentsTable">
    <thead>
      <tr>
	<th>#</th>
	<th>Name</th>
	<th>Subject</th>
	<th>Std</th>
	<th>Actions</th>
      </tr>
    </thead>
    <%= render partial: 'chapter', locals: {chapters: @chapters}%>
  </table>
  <div class="paginationDiv">
    <%= render partial: 'pagination', locals: {chapters: @chapters} %>
  </div>
</div>

  </div>
</div>
