<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="max-width:1145px;margin-left: auto; margin-right: auto;">
    <div>
      <h3 style="font-style: italic;">Hi,</h3>
      <%- if @msg.present? %>
        <p style="  line-height: 27px;font-size: 20px;">
	  asdasdasd
	</p>
      <%- end %>
      <p style="  line-height: 27px;font-size: 20px;">
        We invite you to make career in medical and engineering
        through state and national level entrance test. To face these
        challenging and career based exams, students have the best
        option as JK SAI. We have experience of more than 20 years and
        hundreds of successful students.
      </p>
    </div>
    <div style="width: 100%;text-align: center;">
      <a href="http://www.jkscience.in">
      <img src="https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/home_page.jpg" style="max-width:100%;"/>
      </a>
    </div>
    <div>
      <p>Regards,</p>
      <p>&#169; 2015 <a href="http://www.jkscience.in">Jkscience.in.</a> ALL RIGHTS RESERVED</p>
    </div>
  </body>
</html>
