/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap.min.css
 *= require bootstrap-datetimepicker
 *= require bootstrap-toggle-buttons
 *= require fancybox
 * require jquery.fancybox
 *= require dropdown-menu
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require style
 */

.left{
  float:left;
}

.oneeightyWidth{
  max-width:1080px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.center{
  text-align:center;
}

.textLeft{
  text-align:left;
  margin-top:10px;
}

.paddingTop10{
  padding-top:10px;
}

.padding10{
  padding:10px;
}

.examComplete{
  color:green;
}
.examComplete a{
    color:red !important;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{
  background: #FCF8E3;
}

tr.examComplete:hover > td{
  background:green !important;
  color:#FFF;
}

.examResultRemaining, .studentRecovered{
  color:plum;
}
.examResultRemaining a{
    color:blue !important;
}
tr.examResultRemaining:hover > td{
  background:lightgreen !important;
  color:#000;
}

.examOverDate, .studentAbsent{
  color:red;
}
.examOverDate a{
    color:blue !important;
}
tr.examOverDate:hover > td{
  background:red !important;
  color:grey !important;
}

.red{
    color:red;
}

.orange{
    color:orange;
}
.paddingL0{
    padding-left:0;
}

.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.adminDesk h4, .adminDesk h5 {
  margin: 0 0 5px;
}

.adminDesk h2  {
  margin: 15px 0 5px;
}


//.adminDesk a:link, a:visited {
//  color: #363636;
//  text-decoration: none;
//}
//
//.adminDesk a:hover {
//  color: #ea5644;
//  text-decoration: none;
//}
//
.imageUplaodBoxContainer{
  margin-top:20px;
}

.albumImages{
  width:200px;
  float:left;
  margin-left:15px;
  position:relative;
  margin-top:10px;
}

.albumImages i{
  position:absolute;
  top:10px;
  right:10px;
  color:red;
  cursor:pointer;
}


figure.gallery-last-photo {
  max-height: 300px;
}

figure.gallery-last-photo img{
  width:100%;
}

figure.gallery-photo-thumb{
  max-height: 200px;
}

.widget_sofa_flickr li{
  width: 75px;
  height: 56px;
}

.paginationDiv ul{
  margin-top:20px;
}

.batchResultStudent{
  margin-top:20px;
}

.result figure.gallery-photo-thumb{
  text-align: center;
} 

.result figure.gallery-photo-thumb img{
  max-width:100px;
  max-height:100px;
}

#k-body{
  background-color:#F5F5F2;
}

.loginContainer{
  background-image: url('https://s3-ap-southeast-1.amazonaws.com/jkciphoto/jkProdPhoto/useful/board.jpg');
  height: 318px;
  width:100%;
  background-repeat:no-repeat;
  background-position: right;
  background-size:cover;
}

.parentDeskMenu .active a{
  color:#ea5644 !important;
}

@media screen and (max-width: 991px) {
  .sideBarLink{
    display:none !important;
  }
  .marquee-outer {
    max-height: 115px;
  }
}

@media only screen and (max-width: 768px) {
  .marquee-outer {
    max-height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .marquee-outer {
    max-height: 70px;
  }
}

@media only screen and (max-width: 330px) {
}
.studentShow div{
  margin-bottom:10px;
}

.studentShow{
  display:inline-block;
  float:left;
}

.userLoginDiv{
  display:inline-block;
  max-width:600px;
  float:left;
}

.fullWidth{
  display:inline-block;
  width:100%;
}

.modal-title {
  color: grey;
}

.field_with_errors input {
  border: 2px solid #ea5644;
}

.field_with_errors label {
  color: #ea5644;
}

table th.center {
  text-align:center;
}

.whiteColor {
  color: #FFF;
}

.loginContainer #error_explanation {
  color: #F5F5F5;
}

.loginContainer #error_explanation h2 {
  color: #F5F5F5;
 }

.redBorder {
  border: 2px solid red;
}

.userRoles input[type='text']{
  cursor: pointer;
  -webkit-user-select: text;
  -webkit-touch-callout: none;
  -webkit-user-select: none; // locks fields on Safari
  -khtml-user-select: none; // locks fields on Safari
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}




.marquee-outer {
  height: 175px;
  overflow: hidden;
  position: relative;
  color: orange;
}
.marquee-inner {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  animation: scroll-left 40s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-370%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-370%); }
}
@keyframes scroll-left {
  0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
  }
  100% { 
    -moz-transform: translateX(-370%); /* Browser bug fix */
    -webkit-transform: translateX(-370%); /* Browser bug fix */
    transform: translateX(-370%); 
  }
}

.boldFont p{
  font-size: 18px !important;
  font-weight:bold;
  line-height:30px !important;
}


.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}