<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="max-width:1145px;margin-left: auto; margin-right: auto;">
    <div>
      <h3 style="font-style: italic;">Hi,</h3>

      <p style="  line-height: 27px;font-size: 20px;">
        
      </p>
    </div>
    <div>
      <p>Regards,</p>
      <p>&#169; 2015 <a href="http://www.jkscience.in">Jkscience.in.</a> ALL RIGHTS RESERVED</p>
    </div>
  </body>
</html>

