<%- if ![admin_desk_path, exams_path, students_path, jkci_classes_path, manage_albums_path, manage_events_path, daily_teachs_path, batch_results_path ].include?( request.fullpath ) %>
<div id="k-footer"><!-- footer -->
  <div class="container"><!-- container -->
    <div class="row no-gutter"><!-- row -->
      <div class="col-lg-4 col-md-4"><!-- widgets column left -->
        <div class="col-padded col-naked">
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_nav_menu"><!-- widgets list -->
	      <%= render partial: 'layouts/links' %>
	    </li>
          </ul>
        </div>
      </div><!-- widgets column left end -->
      <div class="col-lg-4 col-md-4"><!-- widgets column center -->
        <div class="col-padded col-naked">
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_recent_news"><!-- widgets list -->
              <h1 class="title-widget">Academy Contact</h1>
              <div itemscope itemtype="http://data-vocabulary.org/Organization"> 
                <h2 class="title-median m-contact-subject" itemprop="name">J K science Academy Islampur</h2>
                <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                  <span class="m-contact-street" itemprop="street-address">JK Building, Mahadevnagar</span>
                  <span class="m-contact-city-region">
		    <span class="m-contact-city" itemprop="locality">Islampur</span>, 
		    <span class="m-contact-region" itemprop="region">Maharashtra</span>
		  </span>
                  <span class="m-contact-zip-country">
		    <span class="m-contact-zip" itemprop="postal-code">411415</span> 
		  </span>
                </div>
                <div class="m-contact-tel-fax">
                  <span class="m-contact-tel">Tel: <span itemprop="tel">02342(220364)</span></span>
                  <span class="m-contact-fax">Mob: <span itemprop="fax">9420674796</span></span>
                </div>
              </div>
              <div class="social-icons">
                <ul class="list-unstyled list-inline">
                  <li><a href="#" title="Contact us"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
              </div>
	    </li>
          </ul>
        </div>
      </div><!-- widgets column center end -->
      <div class="col-lg-4 col-md-4"><!-- widgets column right -->
        <div class="col-padded col-naked">
          <ul class="list-unstyled clear-margins"><!-- widgets -->
            <li class="widget-container widget_sofa_flickr"><!-- widgets list -->
              <h1 class="title-widget">Flickr Stream</h1>
              <ul class="k-flickr-photos list-unstyled">
		<%- @flicker_photos.each do |img, album| %>
                <li>
		  <a href="<%= album%>" title="Flickr photo" data-no-turbolink="true">
		    <img src="<%= img %>" alt="Photo 1" />
		  </a>
		</li>
                <%- end %>
              </ul>
	    </li>
          </ul> 
        </div>
      </div><!-- widgets column right end -->
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- footer end -->
<%- end %>
<div id="k-subfooter"><!-- subfooter -->
  <div class="container"><!-- container -->
    <div class="row"><!-- row -->
      <div class="col-lg-12">
        <p class="copy-text text-inverse">
          &copy; 2015 JK Science Academy. All rights reserved.
        </p>
      </div>
    </div><!-- row end -->
  </div><!-- container end -->
</div><!-- subfooter end -->


<!-- jQuery -->
<!--script src="jQuery/jquery-2.1.1.min.js"></script>
<script src="jQuery/jquery-migrate-1.2.1.min.js"></script>

<!-- Bootstrap -->
<!--script src="bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Drop-down -->
    <!--script src="js/dropdown-menu/dropdown-menu.js"></script>
	
	<!-- Fancybox -->
	<!--script src="js/fancybox/jquery.fancybox.pack.js"></script>
	    <script src="js/fancybox/jquery.fancybox-media.js"></script><!-- Fancybox media -->
	    
	    <!-- Responsive videos -->
	    <!--script src="js/jquery.fitvids.js"></script>
			
			<!-- Audio player -->
			<!--script src="js/audioplayer/audioplayer.min.js"></script>
			    
			    <!-- Pie charts -->
			    <!--script src="js/jquery.easy-pie-chart.js"></script>
				
				<!-- Google Maps -->
				<!--script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
				    
				    <!-- Theme -->
				    <!--script src="js/theme.js"></script-->
