<h1 class="title-widget">Useful links</h1>
<ul>
  <li><a href="<%= results_path %>" title="menu item">Our Results</a></li>
  <li><a href="/batch2015/jksaitalent" title="menu item">Talent Online Form</a></li>
  <li><a href="#" title="menu item">Report Asocial Behaviour</a></li>
  <li><a href="#" title="menu item">Trends and Tips</a></li>
  <li><a href="#" title="menu item">Events Poll</a></li>
</ul>
