<h1 class="title-widget">Useful links</h1>
<ul>
  <li><a href="#" title="menu item">News Archive</a></li>
  <li><a href="#" title="menu item">Tradition of School Events</a></li>
  <li><a href="#" title="menu item">Report Asocial Behaviour</a></li>
  <li><a href="#" title="menu item">Trends and Tips</a></li>
  <li><a href="#" title="menu item">Events Poll</a></li>
</ul>
