<h1 class="title-widget">School News</h1>
<ul class="list-unstyled">
  <li class="recent-news-wrap news-no-summary">
    <div class="recent-news-content clearfix">
      <figure class="recent-news-thumb">
        <a href="#" title="Megan Boyle flourishes..."><img src="img/recent-news-thumb-1.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 1"></a>
      </figure>
      <div class="recent-news-text">
        <div class="recent-news-meta">
          <div class="recent-news-date">Jun 12, 2014</div>
        </div>
        <h1 class="title-median">
	  <a href="#" title="Megan Boyle flourishes...">Megan Boyle flourishes at Boston University</a>
	</h1>
      </div>
    </div>
  </li>
  <li class="recent-news-wrap news-no-summary">
    <div class="recent-news-content clearfix">
      <figure class="recent-news-thumb">
        <a href="#" title="Buntington Alum..."><img src="img/recent-news-thumb-2.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 2"></a>
      </figure>
      <div class="recent-news-text">
        <div class="recent-news-meta">
          <div class="recent-news-date">Jun 10, 2014</div>
        </div>
        <h1 class="title-median"><a href="#" title="Buntington Alum...">Buntington Alum Marc Bloom Pens New Book</a></h1>
      </div>
    </div>
  </li>
  <li class="recent-news-wrap news-no-summary">
    <div class="recent-news-content clearfix">
      <figure class="recent-news-thumb">
        <a href="#" title="Cody Rotschild Enjoys..."><img src="img/recent-news-thumb-3.jpg" class="attachment-thumbnail wp-post-image" alt="Thumbnail 3"></a>
      </figure>
      <div class="recent-news-text">
        <div class="recent-news-meta">
          <div class="recent-news-date">Jun 05, 2014</div>
        </div>
        <h1 class="title-median"><a href="#" title="Cody Rotschild Enjoys...">Cody Rotschild Enjoys Life in Montreal</a></h1>
      </div>
    </div>
  </li>
</ul>
