<div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
  <div class="col-padded col-shaded"><!-- inner custom column -->
    <ul class="list-unstyled clear-margins"><!-- widgets -->
      <li class="widget-container widget_nav_menu"><!-- widget -->
	<%= render partial: 'layouts/links' %>
      </li>
      <li class="widget-container widget_recent_news"><!-- widgets list -->
	<%# render partial: 'layouts/news' %>
      </li><!-- widgets list end -->
      <li class="widget-container widget_sofa_twitter"><!-- widget -->
        <%= render partial: 'layouts/follow_us' %>
      </li><!-- widget end -->
    </ul><!-- widgets end -->
  </div><!-- inner custom column end -->
</div><!-- sidebar wrapper end -->
